@import "tailwindcss";

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

/* Glassmorphism effect for navbar */
/* .glass-navbar {
  background: rgba(70, 83, 0, 0.486);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  backdrop-filter: blur(16px) saturate(180%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
} */

/* se Tailwind’s base layer */
@layer base {
  h1 {
    font-family: var(--font-cinzel), serif;
    font-size: 3rem; /* adjust as needed */
    background: linear-gradient(180deg, #004953, #00a2b9);
    -webkit-background-clip: text; /* For Safari/Chrome */
    -webkit-text-fill-color: transparent; /* For Safari/Chrome */
    background-clip: text; /* Standard property */
    color: transparent; /* Fallback */
    font-weight: 700;
    font-size: 49px;
  }
  h2 {
    font-family: var(--font-cinzel), serif;
    text-transform: uppercase;
    color: #004953;
  }
  li {
    list-style-type: none;
    font-family: var(--font-montserrat), sans-serif;
  }

  p {
    font-family: var(--font-montserrat), sans-serif;
  }

  .h1-white {
    background: none !important;
    -webkit-background-clip: unset !important;
    -webkit-text-fill-color: white !important;
    color: white !important;
  }
}

/* ------- Text ------- */
@layer base {
  .custom-text {
    font-size: 14px !important;
    margin-bottom: 1.5rem; /* mb-6 */
    max-width: 600px;
    text-align: center;
  }

  /* sm:text-[16px!important] */
  @media (min-width: 640px) {
    .custom-text {
      font-size: 16px !important;
    }
  }

  /* md:text-[18px!important] */
  @media (min-width: 768px) {
    .custom-text {
      font-size: 18px !important;
    }
  }

  /* lg:text-[20px!important] */
  @media (min-width: 1024px) {
    .custom-text {
      font-size: 18px !important;
    }
  }

  /* xl:text-[24px!important] */
  @media (min-width: 1280px) {
    .custom-text {
      font-size: 18px !important;
    }
  }
}
@layer base {
  @media (min-width: 1000px) {
    .about-text-wrapper {
      transform: none !important;
      padding-right: 0px !important;
      padding-left: 100px !important;
    }
  }
}
