@import "tailwindcss";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

/* Glassmorphism effect for navbar */
.glass-navbar {
  background: rgba(0, 73, 83, 0.6);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  backdrop-filter: blur(16px) saturate(180%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

/* se Tailwind’s base layer */
@layer base {
  h1 {
    font-family: var(--font-cinzel), serif;
    font-size: 3rem; /* adjust as needed */
    background: linear-gradient(180deg, #004953, #00a2b9);
    -webkit-background-clip: text; /* For Safari/Chrome */
    -webkit-text-fill-color: transparent; /* For Safari/Chrome */
    background-clip: text; /* Standard property */
    color: transparent; /* Fallback */
    font-weight: 700;
    font-size: 49px;
  }
  h2 {
    font-family: var(--font-cinzel), serif;
    text-transform: uppercase;
    color: #004953;
  }
  li {
    list-style-type: none;
    font-family: var(--font-montserrat), sans-serif;
  }

  p {
    font-family: var(--font-montserrat), sans-serif;
  }
}
